<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>試験時計</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1><div id="title">東大試験時計</div></h1>
<div class="ad_button">
  <button id="analogue_button">アナログ</button>
  <button id="digital_button">デジタル</button>
</div>


<form id="main_form" method=post action="/setting">

  <div class="setbutton">

    <input id="set_button1_1" type="radio" name="radio_input" value="1日目1限 国語_9_30_0">          
    <label for="set_button1_1">1日目1限 国語</label>
    <input id="set_button1_2" type="radio" name="radio_input" value="1日目2限 数学_14_0_0">
    <label for="set_button1_2">1日目2限 数学</label>
    <input id="set_button2_1" type="radio" name="radio_input" value="2日目1限 地歴/理科_9_30_0">
    <label for="set_button2_1">2日目1限 地歴/理科</label>
    <input id="set_button2_2" type="radio" name="radio_input" value="2日目2限 外国語_14_0_0">
    <label for="set_button2_2">2日目2限 外国語</label>
    
  </div>

  <br><br>

  <div>
    <label for="itime_1">目標時刻1</label>
    <input type="time" id="itime_1" name=time1>
    <label for="itime2">目標時刻2</label>
    <input type="time" id="itime_2" name=time2>
    <input type="submit" value="SET">
  </div>  

</form>

<br><br>


<div id="show_digi_clock"></div>
    
<div id="show_ana_clock" class="wrapper">
  <div class="clock">
    <div class="scale"></div>
    <div class="hour line"></div>
    <div class="min line"></div>
    <div class="sec line"></div>
    <span class="c-clock__12">12</span>
    <span class="c-clock__3">3</span>
    <span class="c-clock__6">6</span>
    <span class="c-clock__9">9</span>
  </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/tokei.js') }}"></script>


</body>
</html>
  
